'use strict';

const validationRules = {
  
  tMF629patchCustomer:
    [{$: {$noneOf: ["id","href"]}}],

  tMF645serviceQualificationCreate: 
    [{ $: [{$noneOf: ["id", "href", "serviceQualificationDate", "state", "qualificationResult", 
                        "estimatedResponseDate", "effectiveQualificationDate", 
                        "eligibilityUnavailabilityReason", "alternateServiceProposal",
                        "expirationDate"]},
           {$present: ['serviceQualificationItem']}]},
     { "serviceQualificationItem": {$noneOf: ["expirationDate", "qualificationItemResult"]}}
     ],

  //
  // TMF 641 Service Order, based on TMF641B Release 18.0.1 May 2018
  //   
  // Notes: 
  // 1) Handling of 'state' in POST is unclear in the document, here treated as not allowed
  // 2) orderItem is incorrectly labelled as 'serviceOrderItem' in TMF641B
  // 3) removed rule { "orderItem.action": {$notEqual: "add", $eitherOf: ["service.id", "service.href"]}}
  // 
  tMF641serviceOrderCreate:
    [{ $: { $noneOf: ["id", "href", "state", "orderDate", "completionDate", 
                        "expectedCompletionDate", "startDate"]}},
    { $: {$eitherOf: ["orderItem"]}},
    { "relatedParty": {$eitherOf: ["id", "href"]}},
    { "note": {$eitherOf: ["author", "text"]}},
    { "orderItem": {$notEmpty: true}},
    { "orderItem": {$present: ["action","id"]}},
    { "orderItem": {$noneOf: ["state"]}},
    { "orderItem.appointment": {$eitherOf: ["id", "href"]}},
    { "orderItem.orderItemRelationship": {$present: ["type", "id"]}},
    { "orderItem.service": {$eitherOf: ["id", "href"]}},
    { "orderItem.service": {$eitherOf: ["id", "href"]}},
    { "orderItem.service.serviceSpecification": {$eitherOf: ["id", "href"]}},  
	{ "orderItem.service.serviceSpecification.targetServiceSchema": {$present: ["@type", "@schemaLocation"]}},  
    { "orderItem.service.serviceRelationship": {$eitherOf: ["type", "service"] }},
    { "orderItem.service.serviceCharacteristic": {$eitherOf: ["name", "valueType", "value"]}},
    { "orderItem.service.place": {$eitherOf: ["id", "href"]}},
    { "orderItem.service.place": {$present: ["role", "@referredType"]}},
    { "orderItem.relatedParty": {$present: ["type"]}},
    { "orderItem.relatedParty": {$eitherOf: ["id", "href"]}},
    { "orderItem.orderRelationship": {$present: ["type"]}},
    { "orderItem.orderRelationship": {$eitherOf: ["id", "href"]}}
  ]


};


module.exports = { validationRules };


/*

	//
	// TMF621B_Trouble_Ticket_API_Conformance_Profile_R18.0.0.docx
	//

	// Ticket MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$present: ["ticketType"]}},
	{$: {$noneOf: ["id"]}},
	{$: {$present: ["description"]}},
	{$: {$present: ["severity"]}}]



	// /troubleTicket/{id}

	[{$: {$noneOf: ["id","href","creationDate","lastUpdated","statusChange"]}},
	{$: {$noneOf: ["@baseType","@type","@schemaLocation"]}}]


	//
	// TMF629B_Customer_Management_API_Conformance_Profile_R18.0.0.docx
	//

	// CUSTOMER MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$noneOf: ["id"]}},
	{$: {$present: ["name"]}}]



	// /customer/{id}

	[{$: {$noneOf: ["id","href","@baseType","@schemaLocation","@type"]}},
	{$: {$noneOf: ["name","status","statusReason","validFor","engagedParty"]}},
	{$: {$noneOf: ["type","account","paymentMethod","contactMedium","characteristic"]}},
	{$: {$noneOf: ["creditProfile","agreement","relatedParty"]}}]


	//
	// TMF637B_Product_Inventory_API_Conformance_Profile_R18.0.0.docx
	//

	// Product Inventory resource MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$present: ["id","href","description","isBundle","startDate"]}},
	{$: {$present: ["status","terminationDate","productRelationship","productCharacteristic","productSpecification"]}},
	{$: {$present: ["productOffering","relatedParty","place","billingAccount","productPrice"]}},
	{$: {$present: ["priceAlteration","price"]}},
	{"productOrder": {$present: ["id"]}},
	{"productOrder.id": {$present: ["href"]}},
	{"productOrder.id": {$present: ["orderItemId"]}},
	{"productRelationship": {$present: ["type"]}},
	{"productRelationship.type": {$present: ["productRef"]}},
	{"realizingService": {$present: ["id"]}},
	{"realizingService.id": {$present: ["href"]}},
	{"supportingResource": {$present: ["id"]}},
	{"supportingResource.id": {$present: ["href"]}},
	{"productSpecification": {$present: ["id"]}},
	{"productSpecification.id": {$present: ["href"]}},
	{"productOffering": {$present: ["id"]}},
	{"productOffering.id": {$present: ["href"]}},
	{"relatedParty": {$present: ["id"]}},
	{"relatedParty.id": {$present: ["href"]}},
	{"relatedParty.id": {$present: ["role"]}},
	{"place": {$present: ["id"]}},
	{"place.id": {$present: ["href"]}},
	{"billingAccount": {$present: ["id"]}},
	{"billingAccount.id": {$present: ["href"]}},
	{"productPrice.id": {$present: ["priceType"]}},
	{"productPrice.id": {$present: ["recurringChargePeriod"]}},
	{"priceAlteration.id": {$present: ["priceType"]}},
	{"priceAlteration.id": {$present: ["recurringChargePeriod"]}},
	{"priceAlteration.id": {$present: ["validFor"]}},
	{"priceAlteration.id": {$present: ["priority"]}},
	{"price.taxIncludedAmount": {$present: ["@type"]}},
	{"price.taxIncludedAmount": {$present: ["@schemaLocation"]}}]


	//
	// TMF638B_Service_Inventory_Conformance_Profile_R18.0.0.docx
	//

	// Service Inventory resource MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$present: ["id","href","name","description","state"]}},
	{$: {$present: ["category","startDate","serviceRelationship","serviceCharacteristic","supportingService"]}},
	{$: {$present: ["supportingResource","serviceSpecification","relatedParty","place"]}},
	{"serviceRelationship": {$present: ["type"]}},
	{"serviceRelationship.type": {$present: ["serviceRef"]}},
	{"serviceCharacteristic.name": {$present: ["valueType"]}},
	{"serviceCharacteristic.name": {$present: ["value"]}},
	{"supportingService": {$present: ["id"]}},
	{"supportingService.id": {$present: ["href"]}},
	{"supportingResource": {$present: ["id"]}},
	{"supportingResource.id": {$present: ["href"]}},
	{"serviceSpecification": {$present: ["id"]}},
	{"serviceSpecification.id": {$present: ["href"]}},
	{"serviceSpecification.id": {$present: ["version"]}},
	{"relatedParty": {$present: ["id"]}},
	{"relatedParty.id": {$present: ["href"]}},
	{"relatedParty.id": {$present: ["role"]}},
	{"place": {$present: ["id"]}},
	{"place.id": {$present: ["href"]}}]


	//
	// TMF641B_Service_Ordering_Conformance_Profile_R18.0.0.docx
	//

	// ServiceOrder resource MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$present: ["serviceOrderItem","Service","TargetServiceSchema","ServiceCharacteristic","Value"]}},
	{$: {$present: ["ServiceRelationship"]}},
	{"relatedParty.id": {$present: ["role"]}},
	{"orderRelationship": {$present: ["type"]}},
	{"note.date": {$present: ["author"]}},
	{"note.date": {$present: ["text"]}},
	{"serviceOrderItem": {$present: ["id"]}},
	{"serviceOrderItem.id": {$present: ["action"]}},
	{"orderItemRelationship": {$present: ["type"]}},
	{"orderItemRelationship.type": {$present: ["id"]}},
	{"ServiceSpecificationRef": {$present: ["id"]}},
	{"TargetServiceSchema": {$present: ["@type"]}},
	{"TargetServiceSchema.@type": {$present: ["@schemaLocation"]}},
	{"Place.id": {$present: ["role"]}},
	{"Place.id": {$present: ["@referredType"]}},
	{"ServiceCharacteristic": {$present: ["name"]}},
	{"ServiceCharacteristic.name": {$present: ["valueType"]}},
	{"Value": {$present: ["@type"]}},
	{"Value.@type": {$present: ["@schemaLocation"]}},
	{"ServiceRelationship": {$present: ["type"]}},
	{"ServiceRelationship.type": {$present: ["(service) targeted"]}}]



	// POST /ServiceOrderingManagement /ServiceOrder/

	[{$: {$present: ["ServiceOrderItem","orderItem.id","orderItem.action","relatedParty"]}},
	{$: {$noneOf: ["id"]}},
	{$: {$noneOf: ["href"]}},
	{$: {$noneOf: ["state"]}},
	{$: {$noneOf: ["orderDate"]}},
	{$: {$noneOf: ["completionDate"]}},
	{$: {$noneOf: ["expectedCompletionDate"]}},
	{"note": {$present: ["author", "text"]}},
	{"orderRelationship": {$eitherOf :["id", "href"]}},
	{"orderRelationship": {$present: ["type"]}},
	{"ServiceOrderItem": {$notEmpty: true}},
	{$: {$noneOf: ["orderItem.state"]}},
	{"orderItemRelationship": {$present: ["type", "id"]}},
	{"appointment": {$eitherOf: ["href", "id"]}},
	{"relatedParty": {$notEmpty: true}},
	{"relatedParty": {$eitherOf: ["href", "id"]}},
	{"relatedParty": {$present :["role"]}},
	{"place": {$eitherOf: ["href", "id"]}},
	{"place": {$present :["Role"]}},
	{"serviceRelationship": {$present :["type"]}},
	{"serviceSpecification": {$eitherOf: ["href", "id"]}},
	{"targetServiceSchema": {$present: ["@type", "@schemaLocation"]}},
	{"serviceCharacteristic": {$present: ["name", "valueType"]}},
	{"value": {$present: ["@type", "@schemaLocation"]}}]


	//
	// TMF645B_Service_Qualification_Conformance_Profile_R18.0.0.docx
	//

	// ServiceQualification  MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$present: ["serviceQualificationItem"]}},
	{"relatedParty.id": {$present: ["role"]}},
	{"serviceQualificationItem": {$present: ["Id"]}},
	{"QualificationItemRelationship": {$present: ["type"]}},
	{"QualificationItemRelationship.type": {$present: ["id"]}},
	{"place.id": {$present: ["role"]}},
	{"serviceCharacteristic.name": {$present: ["@type"]}},
	{"serviceCharacteristic.name": {$present: ["@schemaLocation"]}},
	{"serviceRelationship": {$present: ["type"]}},
	{"serviceRelationship.type": {$present: ["(service) targeted"]}}]



	// POST /serviceQualificationManagement /serviceQualification

	[{$: {$present: ["serviceQualificationItem","qualificationItemRelationship.type","qualificationItemRelationship.id"]}},
	{"serviceQualificationItem": {$notEmpty: true}},
	{"serviceQualificationItem": {$eitherOf: ["category", "service"]}},
	{"$": {$eitherOf: ["relatedParty.id", "relatedParty.href"]}},
	{"serviceRelationship": {$present :["type"]}},
	{"serviceCharacteristic": {$present: ["Name", "value"]}}]


	//
	// TMF646B_Appointment_API_Conformance_Profile_R18.0.0.docx
	//

	// Appointment MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$present: ["validFor"]}},
	{$: {$noneOf: ["status"]}},
	{$: {$noneOf: ["lastUpdate"]}},
	{"validFor": {$present: ["startDateTime"]}},
	{"validFor.startDateTime": {$present: ["endDateTime"]}},
	{"relatedParty.id": {$present: ["role"]}},
	{"place.id": {$present: ["name"]}},
	{"relatedEntity.id": {$present: ["@referredType"]}},
	{"note.date": {$present: ["text"]}}]



	// POST /appointment /appointment

	[{$: {$present: ["validFor.startDateTime","validFor.endDateTime"]}},
	{"$": {$eitherOf: ["relatedParty.id", "relatedParty.href"]}}]


	//
	// TMF651B_Agreement_Management_API_Conformance_Profile_R18.0.0.docx
	//

	// Agreement MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$noneOf: ["id"]}},
	{$: {$present: ["name"]}},
	{$: {$present: ["type"]}},
	{$: {$present: ["agreementItem"]}},
	{$: {$present: ["engagedPartyRole"]}}]



	// Agreement Specification MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$noneOf: ["id"]}},
	{$: {$present: ["name"]}},
	{$: {$present: ["type"]}},
	{$: {$present: ["agreementItem"]}},
	{$: {$present: ["engagedPartyRole"]}},
	{$: {$present: ["attachment"]}}]



	// /agreement/{id}

	[{$: {$noneOf: ["id","href","completionDate","agreementPeriod","description"]}},
	{$: {$noneOf: ["documentNumber","initialDate","name","statementOfIntent","status"]}},
	{$: {$noneOf: ["type","version","agreementSpecification","engagedPartyRole","characteristic"]}},
	{$: {$noneOf: ["associatedAgreement"]}}]



	// /agreementSpecification/{id}

	[{$: {$noneOf: ["id","href","description","isBundle","lastUpdate"]}},
	{$: {$noneOf: ["lifecycleStatus","name","validFor","version","serviceCategory"]}},
	{$: {$noneOf: ["specCharacteristic","relatedParty","attachment","specificationRelationship"]}}]


	//
	// TMF663B_Shopping_Cart_API_Conformance_Profile_R18.0.0.docx
	//

	// Shopping Cart MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$noneOf: ["id"]}},
	{$: {$present: ["cartItem"]}}]



	// /shoppingCart/{id}

	[{$: {$noneOf: ["id","href","validFor","cartTotalPrice","contactMedium"]}},
	{$: {$noneOf: ["cartItem","relatedParty"]}}]


	//
	// TMF666B_Account_Management_API_Conformance_Profile_R18.0.0.docx
	//

	// Party Account MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$noneOf: ["id"]}},
	{$: {$present: ["name"]}},
	{$: {$present: ["relatedParty"]}}]



	// Billing Account MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$noneOf: ["id"]}},
	{$: {$present: ["name"]}},
	{$: {$present: ["relatedParty"]}}]



	// Settlement Account MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$noneOf: ["id"]}},
	{$: {$present: ["name"]}},
	{$: {$present: ["relatedParty"]}}]



	// Financial Account MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$noneOf: ["id"]}},
	{$: {$present: ["name"]}},
	{$: {$present: ["relatedParty"]}}]



	// Billing Cycle Specification MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$noneOf: ["id"]}},
	{$: {$present: ["name"]}},
	{$: {$present: ["relatedParty"]}}]



	// Bill Format MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$noneOf: ["id"]}},
	{$: {$present: ["name"]}},
	{$: {$present: ["relatedParty"]}}]



	// Bill Presentation Media MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$noneOf: ["id"]}},
	{$: {$present: ["name"]}},
	{$: {$present: ["relatedParty"]}}]



	// /partyAccount/{id}

	[{$: {$noneOf: ["id","href","accountBalance","@baseType","@schemaLocation"]}},
	{$: {$noneOf: ["@type","creditLimit","description","lastModified","name"]}},
	{$: {$noneOf: ["state","type","paymentStatus","billStructure","paymentPlan"]}},
	{$: {$noneOf: ["financialAccount","defaultPaymentMethod","relatedParty","taxExemption","contact"]}},
	{$: {$noneOf: ["accountRelationship"]}}]



	// /billingAccount/{id}

	[{$: {$noneOf: ["id","href","accountBalance","paymentStatus","@baseType"]}},
	{$: {$noneOf: ["@schemaLocation","@type","creditLimit","description","lastModified"]}},
	{$: {$noneOf: ["name","state","type","billStructure","paymentPlan"]}},
	{$: {$noneOf: ["financialAccount","defaultPaymentMethod","relatedParty","taxExemption","contact"]}},
	{$: {$noneOf: ["accountRelationship"]}}]



	// /settlementAccount/{id}

	[{$: {$noneOf: ["id","href","accountBalance","paymentStatus","@baseType"]}},
	{$: {$noneOf: ["@schemaLocation","@type","creditLimit","description","lastModified"]}},
	{$: {$noneOf: ["name","state","type","billStructure","paymentPlan"]}},
	{$: {$noneOf: ["financialAccount","defaultPaymentMethod","relatedParty","taxExemption","contact"]}},
	{$: {$noneOf: ["accountRelationship",""]}}]



	// /financialAccount/{id}

	[{$: {$noneOf: ["id","href","lastModified","@baseType","@schemaLocation"]}},
	{$: {$noneOf: ["@type","creditLimit","description","name","state"]}},
	{$: {$noneOf: ["type","relatedParty","taxExemption","contact","accountBalance"]}},
	{$: {$noneOf: ["accountRelationship"]}}]



	// /billingCycleSpecification/{id}

	[{$: {$noneOf: ["id","href","@baseType","@schemaLocation","@type"]}},
	{$: {$noneOf: ["billingDateShift","billingPeriod","chargeDateOffset","creditDateOffset","description"]}},
	{$: {$noneOf: ["frequency","mailingDateOffset","name","paymentDueDateOffset","validFor"]}}]



	// /billFormat/{id}

	[{$: {$noneOf: ["id","href","@baseType","@schemaLocation","@type"]}},
	{$: {$noneOf: ["description","name"]}}]



	// /billPresentationMedia/{id}

	[{$: {$noneOf: ["id","href","@baseType","@schemaLocation","@type"]}},
	{$: {$noneOf: ["description","name"]}}]


	//
	// TMF668B_Partnership_Type_Management_API_Conformance_Profile_R18.0.0.docx
	//

	// Partnership Type MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$noneOf: ["id"]}},
	{$: {$present: ["name"]}}]



	// /partnershipType/{id}

	[{$: {$noneOf: ["href","id"]}}]


	//
	// TMF669B_Party_Role_Management_API_Conformance_Profile_R18.0.0.docx
	//

	// Party Role MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$noneOf: ["id"]}},
	{$: {$present: ["name"]}},
	{$: {$present: ["type"]}}]



	// /partyRole/{id}

	[{$: {$noneOf: ["id","href","name","status","statusReason"]}},
	{$: {$noneOf: ["validFor","engagedParty","type","account","paymentMethod"]}},
	{$: {$noneOf: ["contactMedium","characteristic","creditProfile","agreement","relatedParty"]}}]


	//
	// TMF676B_Payment_Management_Conformance_Profile_R18.0.0.docx
	//

	// Payment resource MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$present: ["totalAmount"]}},
	{$: {$noneOf: ["id"]}},
	{"amount": {$present: ["amount"]}},
	{"amount.amount": {$present: ["units"]}}]



	// Refund resource MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$present: ["totalAmount","description","refundDivision"]}},
	{$: {$present: ["totalAmount"]}},
	{$: {$noneOf: ["id"]}},
	{"amount": {$present: ["amount"]}},
	{"amount.amount": {$present: ["units"]}},
	{"totalAmount": {$present: ["amount"]}},
	{"totalAmount.amount": {$present: ["units"]}},
	{"refundDivision.amount": {$present: ["totalAmount"]}},
	{"refundDivision.amount": {$present: ["paymentMethod"]}}]



	// POST to /payment

	[{$: {$present: ["totalAmount","paymentDivision"]}}]



	// POST to /refund

	[{$: {$present: ["totalAmount","refundDivision"]}}]


	//
	// TMF683B_Party_Interactions_API_Conformance_Profile_R18.0.0.docx
	//

	// Party Interaction resource MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$present: ["@type","interactionDate","direction"]}},
	{$: {$noneOf: ["id"]}},
	{"relatedParty.id": {$present: ["@referredType"]}},
	{"interactionItem.id": {$present: ["item"]}}]



	// POST to /partyInteraction

	[{$: {$present: ["@type"]}}]


	//
	// TMF684B_Shipment_Tracking_Conformance_Profile_R18.0.0.docx
	//

	// Shipment Tracking resource MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$present: ["addressTo"]}},
	{$: {$noneOf: ["id"]}},
	{"addressTo.city": {$present: ["country"]}}]



	// POST to /tracking

	[{$: {$present: ["TODO"]}}]


	//
	// TMF685B_Resource_Pool_Management_API_Conformance_Profile_R18.0.0.docx
	//

	// Reservation API resource MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$present: ["reservationItem"]}},
	{$: {$noneOf: ["id"]}},
	{"reservationItem": {$present: ["quantity"]}},
	{"reservationItem.quantity": {$present: ["resourceCapacityDemand"]}},
	{"reservationItem.quantity": {$present: ["capacityDemandAmount"]}}]



	// Resource Pool API resource MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$present: ["reservationItem","description"]}},
	{$: {$present: ["reservationItem"]}},
	{$: {$noneOf: ["id"]}},
	{"reservationItem": {$present: ["quantity"]}},
	{"reservationItem.quantity": {$present: ["resourceCapacityDemand"]}},
	{"reservationItem.quantity": {$present: ["capacityDemandAmount"]}}]



	// POST /resourcePoolManagement/reservation/

	[{$: {$present: ["@type","relatedParty.href","reservationItem.resourceCapacityDemand"]}}]



	// POST /resourcePoolManagement/resourcePool/

	[{$: {$present: ["@type","relatedParty.href","reservationItem.resourceCapacityDemand"]}}]


	//
	// TMF691B_Federated_ID_API_Conformance_Profile_R18.0.0.docx
	//

	// Userinfo resource MANDATORY AND OPTIONAL ATTRIBUTES

	[{$: {$present: ["name"]}},
	{$: {$noneOf: ["sub"]}}]

*/