'use strict';

//Minimal Service with filtering (equality match only) and attribute selection
//Error Handing Need to define a global error hqndler
//Paging and Range based Iterator to be added
//Notification to be added add listener and implement hub

const util = require('util');
const uuid = require('uuid');

const mongoUtils = require('../utils/mongoUtils');
const swaggerUtils = require('../utils/swaggerUtils');

const {sendDoc} = require('../utils/mongoUtils');

const {setBaseProperties, traverse, 
       addHref, processCommonAttributes } = require('../utils/operationsUtils');

const {validateRequest} = require('../utils/ruleUtils');

const {processAssignmentRules} = require('../utils/operations');

const {getResourceType} = require('../utils/swaggerUtils');

const {TError, TErrorEnum, sendError} = require('../utils/errorUtils');

const MongoClient = require('mongodb').MongoClient;
const assert = require('assert');

{{#operations}}
{{#operation}}
exports.{{{operationId}}} = function(req, res, next) {
  /**
   {{#summary}}
   * {{{summary}}}
   {{/summary}}
   {{#notes}}
   * {{{notes}}}
   {{/notes}}
   *
  {{#allParams}}
   * {{paramName}} {{{dataType}}} {{{description}}}{{^required}} (optional){{/required}}
  {{/allParams}}
  {{^returnType}}
   * no response value expected for this operation
  {{/returnType}}
  {{#returnType}}
   * returns {{{returnType}}}
  {{/returnType}}
   **/

  console.log('{{{operationId}}} :: ' + req.method + ' ' + req.url + ' ' + req.headers.host);

  {{#isRestfulIndex}}
  /* matching isRestfulIndex */
 
  const query = mongoUtils.getMongoQuery(req);

  const resourceType = getResourceType(req);

  const internalError =  new TError(TErrorEnum.INTERNAL_SERVER_ERROR, "Internal database error");
  
  // Find some documents based on criteria plus attribute selection
  mongoUtils.connect().then(db => {
    db.collection(resourceType)
      .find(query.criteria, query.options).toArray()
      .then(doc => sendDoc(res, 200, doc))
      .catch(error => {
        console.log("{{{operationId}}}: error=" + error);
        sendError(res, internalError);
      });
  })
  .catch(error => {
    console.log("{{{operationId}}}: error=" + error);
    sendError(res, internalError);
  });

  {{/isRestfulIndex}}
  {{#isRestfulDestroy}}
  /* matching isRestfulDestroy */

  const {{{pathId}}} = String(req.swagger.params.{{{pathId}}}.value);

  const query = {
    id: {{{pathId}}}
  };

  const resourceType = getResourceType(req); 

  const internalError =  new TError(TErrorEnum.INTERNAL_SERVER_ERROR, "Internal database error");

  mongoUtils.connect().then(db => {
    db.collection(resourceType)
      .deleteOne(query)
      .then(doc => {
        if (doc.result.n == 1) {
           sendDoc(res, 204, doc);
        } else { 
           sendError(res, new TError(TErrorEnum.RESOURCE_NOT_FOUND,"No resource with given id found"));
        }
      }).catch(error => sendError(res, internalError))
  })
  .catch(error => sendError(res, internalError));

  {{/isRestfulDestroy}}
  {{#isRestfulShow}}
  /* matching isRestfulShow */

  var {{{pathId}}} = String(req.swagger.params.{{{pathId}}}.value);

  var query = mongoUtils.getMongoQuery(req);
  query.criteria.id = {{{pathId}}}

  const resourceType = getResourceType(req); 

  const internalError =  new TError(TErrorEnum.INTERNAL_SERVER_ERROR, "Internal database error");

  mongoUtils.connect().then(db => {
    db.collection(resourceType)
      .findOne(query.criteria, query.options)
      .then(doc => {
        if(doc) {
          sendDoc(res, 200, doc)
        } else {
          sendError(res, new TError(TErrorEnum.RESOURCE_NOT_FOUND,"No resource with given id found"));
        }
      })
      .catch(error => {
        console.log("{{{operationId}}}: error=" + error);
        sendError(res, internalError);
      });
  })
  .catch(error => {
    console.log("{{{operationId}}}: error=" + error);
    sendError(res, internalError);
  });

  {{/isRestfulShow}}
  {{#isRestfulCreate}}
  /* matching isRestfulCreate - argument {{{baseNameLowerCamelCase}}} */
  
  const resourceType = getResourceType(req);

  swaggerUtils.getPayload(req)
    .then(payload => validateRequest('{{{operationId}}}',payload))
    .then(payload => processCommonAttributes(req, resourceType, payload))
    .then(payload => processAssignmentRules('{{{operationId}}}',payload))
    .then(payload => traverse(req,resourceType,payload,[]))
    .then(payload => {

      const internalError =  new TError(TErrorEnum.INTERNAL_SERVER_ERROR, "Internal database error");

      mongoUtils.connect().then(db => {
        db.collection(resourceType)
          .insertOne(payload)
          .then(() => sendDoc(res, 201, payload))
          .catch((error) => sendError(res, internalError))
      })
      .catch((error) => sendError(res, internalError));

    })
    .catch( error => {
      console.log("{{{operationId}}}: error=" + error.toString());
      sendError(res, error);
    });
  {{/isRestfulCreate}}
  {{#isRestfulUpdate}}
  /* matching isRestfulUpdate */

  const internalError =  new TError(TErrorEnum.INTERNAL_SERVER_ERROR, "Unable to update resource");

  const resourceType = getResourceType(req);
  swaggerUtils.getPayload(req)
    .then(payload => validateRequest('{{{operationId}}}',payload))
    .then(payload => {

      const {{{pathId}}} = String(req.swagger.params.{{{pathId}}}.value);
      const query = {
       id: {{{pathId}}}
      };

      mongoUtils.connect().then(db => {
        db.collection(resourceType)
          .replaceOne(query, payload)
          .findOne(query)
          .then((doc) => sendDoc(res, 200, doc))
          .catch((error) => sendError(res, internalError))
      })
      .catch(error => {
        console.log("{{{operationId}}}: error=" + error.toString());
        sendError(res, internalError);
      });
    })
    .catch(error => {
      console.log("{{{operationId}}}: error=" + error.toString());
      sendError(res, error);
    });

  {{/isRestfulUpdate}}
  {{#isRestfulPatch}}
  /* matching isRestfulPatch */

  const internalError =  new TError(TErrorEnum.INTERNAL_SERVER_ERROR, "Unable to update resource");

  const resourceType = getResourceType(req);

  const {{{pathId}}} = String(req.swagger.params.{{{pathId}}}.value);
  const query = {
   id: {{{pathId}}}
  };

  swaggerUtils.getPayload(req)
    .then(payload => validateRequest('{{{operationId}}}',payload))
    .then(payload => traverse(req,resourceType,payload))
    .then(payload => {

      mongoUtils.connect().then(db => {
        // first check if resource exists
        db.collection(resourceType)
        .findOne(query)
        .then(doc => {
          if (doc==undefined) {
            return sendError(res, new TError(TErrorEnum.RESOURCE_NOT_FOUND,"No resource with given id found"));
          }
          // then update and return the complete resource
          db.collection(resourceType)
            .updateOne(query, {$set: payload}, {upsert: false})
            .then(() => {
              db.collection(resourceType).findOne(query)
                .then((doc) => sendDoc(res, 201, doc))
                .catch((error) => {
                  console.log("{{{operationId}}} error=" + error);
                  return sendError(res, internalError);
                });
            })
            .catch((error) => {
              console.log("{{{operationId}}} error=" + error);
              return sendError(res, internalError);
            })
          })
        .catch((error) => {
          console.log("{{{operationId}}} error=" + error);
          return sendError(res, new TError(TErrorEnum.RESOURCE_NOT_FOUND,"No resource with given id found"));
        });        
      })
      .catch((error) => {
        console.log("{{{operationId}}} error=" + error);
        return sendError(res, internalError);
      });
  })
  .catch(error => {
    console.log("{{{operationId}}} error=" + error);
    return sendError(res, error);
  });

  {{/isRestfulPatch}}
  {{#isUnregisterHub}}
  /* matching isUnregisterHub */
  var examples = {};
  examples['application/json'] = {
  "query" : "aeiou",
  "callback" : "aeiou",
  "id" : "aeiou"
  };
  if(Object.keys(examples).length > 0) {
    res.setHeader('Content-Type', 'application/json');
    res.end(JSON.stringify(examples[Object.keys(examples)[0]] || {}, null, 2));
  }
  else {
    res.end({});
  }

  {{/isUnregisterHub}}
  {{#isRegisterHub}}
  /* matching isRegisterHub */
  var examples = {};
  examples['application/json'] = {
  "query" : "aeiou",
  "callback" : "aeiou",
  "id" : "aeiou"
  };
  if(Object.keys(examples).length > 0) {
    res.setHeader('Content-Type', 'application/json');
    res.end(JSON.stringify(examples[Object.keys(examples)[0]] || {}, null, 2));
  }
  else {
    res.end({});
  }
  {{/isRegisterHub}}
  {{#isAction}}
  /* matching isAction */

  res.setHeader('Content-Type', 'application/json');
  res.statusCode = 200;
  res.end({});
  {{/isAction}}
  {{^isRestful}}
  /* NOT matching isRestful */

  res.setHeader('Content-Type', 'application/json');
  res.statusCode = 500;
  res.end({});
  {{/isRestful}}

};

{{/operation}}
{{/operations}}


