'use strict';

//Minimal Service with filtering (equality match only) and attribute selection
//Error Handing Need to define a global error hqndler
//Paging and Range based Iterator to be added
//Notification to be added add listener and implement hub

var util = require('util');

var uuid = require('node-uuid');

var mongoUtils = require('../utils/mongoUtils')

var MongoClient = require('mongodb').MongoClient;
var assert = require('assert');

// Mongo URL

// This is a global variable we'll use for handing the MongoDB client around
var mongodb;
 
{{#localDatabase}}
{{! Local MongoDB is used}}
var config = require('../service/config.json');

var argv = require('minimist')(process.argv);
var dbhost = argv.dbhost ? argv.dbhost: config.db_host;
const mongourl = config.db_prot + "://" + dbhost + ":" + config.db_port + "/" + config.db_name;
MongoClient.connect(mongourl, function (err, db) {
{{/localDatabase}}

{{^localDatabase}}
{{! MongoDB in combination with Bluemix is used}}

//This is copied from the tutorial
// Now lets get cfenv and ask it to parse the environment variable
var cfenv = require('cfenv');
var appenv = cfenv.getAppEnv();

// Within the application environment (appenv) there's a services object
var services = appenv.services;

// The services object is a map named by service so we extract the one for MongoDB
var mongodb_services = services["compose-for-mongodb"];

// This check ensures there is a services for MongoDB databases
assert(!util.isUndefined(mongodb_services), "Must be bound to compose-for-mongodb services");

// We now take the first bound MongoDB service and extract it's credentials object
var credentials = mongodb_services[0].credentials;

// Within the credentials, an entry ca_certificate_base64 contains the SSL pinning key
// We convert that from a string into a Buffer entry in an array which we use when
// connecting.
var ca = [new Buffer(credentials.ca_certificate_base64, 'base64')];

MongoClient.connect(credentials.uri, {
        mongos: {
            ssl: true,
            sslValidate: true,
            sslCA: ca,
            poolSize: 1,
            reconnectTries: 1
        }
    },
    function(err, db) {
{{/localDatabase}}
      {{! This sectin is used for both local and online MongoDB}}
        if (err) {
            console.log(err);
        } else {
            mongodb = db.db("tmf");
        }
    }
);



{{#operations}}
{{#operation}}
exports.{{{operationId}}} = function(req, res, next) {
  /**
   {{#summary}}
   * {{{summary}}}
   {{/summary}}
   {{#notes}}
   * {{{notes}}}
   {{/notes}}
   *
  {{#allParams}}
   * {{paramName}} {{{dataType}}} {{{description}}}{{^required}} (optional){{/required}}
  {{/allParams}}
  {{^returnType}}
   * no response value expected for this operation
  {{/returnType}}
  {{#returnType}}
   * returns {{{returnType}}}
  {{/returnType}}
   **/

  {{#isRestfulIndex}}
  var args = req.swagger.params;

  {{#localDatabase}}
  MongoClient.connect(mongourl, function (err, db) {
  {{/localDatabase}}
  {{^localDatabase}}
  MongoClient.connect(credentials.uri, {
          mongos: {
              ssl: true,
              sslValidate: true,
              sslCA: ca,
              poolSize: 1,
              reconnectTries: 1
          }
      },
      function(err, db) {
  {{/localDatabase}}
        try {
          assert.equal(null, err);
      }
      catch (err) {
          console.log("Find "+err)
      }

      // Get the documents collection and filtering ?

      var collection = mongodb.collection('{{{baseNameLowerCamelCase}}}');

      // console.log(req)

      console.log(req.query);

      var queryToMongo = require('query-to-mongo')
      var query = queryToMongo(req.query)
      console.log(query)

      // Find some documents based on criteria plus attribute selection
      collection.find(query.criteria,
      mongoUtils.fieldFilter(args.fields.value)).toArray(function (err, docs) {
          assert.equal(err, null);
          console.log(docs);
          res.setHeader('Content-Type', 'application/json');
          res.end(JSON.stringify(docs));
          //res.json( docs );
      });


  })
  {{/isRestfulIndex}}
  {{#isRestfulDestroy}}
    var {{{pathId}}} = String(req.swagger.params.{{{pathId}}}.value);

    {{#localDatabase}}
    MongoClient.connect(mongourl, function (err, db) {
    {{/localDatabase}}
    {{^localDatabase}}
    MongoClient.connect(credentials.uri, {
            mongos: {
                ssl: true,
                sslValidate: true,
                sslCA: ca,
                poolSize: 1,
                reconnectTries: 1
            }
        },
        function(err, db) {
    {{/localDatabase}}
      if (err) throw err;
      var query = {
        id: {{{pathId}}}
      };

      mongodb.collection('{{{baseNameLowerCamelCase}}}').deleteOne(query, function(err, obj) {
        if (err) throw err;

        res.setHeader('Content-Type', 'application/json');

        if (obj.result.n == 1){
            res.statusCode = 204;
            res.end(JSON.stringify(obj));
        }

        if (obj.result.n == 0){
            error = {
                'code':   'ERR0001', 'message': 'Entry not found', 'description': 'provide a different id' , 'infoURL': '-'
            };
            res.statusCode = 404;
            res.end(JSON.stringify(error));
        }

        //db.close();

        });
    });
  {{/isRestfulDestroy}}
  {{#isRestfulShow}}

  {{#localDatabase}}
  MongoClient.connect(mongourl, function (err, db) {
  {{/localDatabase}}
  {{^localDatabase}}
  MongoClient.connect(credentials.uri, {
          mongos: {
              ssl: true,
              sslValidate: true,
              sslCA: ca,
              poolSize: 1,
              reconnectTries: 1
          }
      },
      function(err, db) {
  {{/localDatabase}}
      assert.equal(null, err);
      var collection = mongodb.collection('{{{baseNameLowerCamelCase}}}');
      var {{{pathId}}} = String(req.swagger.params.{{{pathId}}}.value);

      const query = {
          id: {{{pathId}}}
      }

      collection.findOne(query, function (err, doc) {

          try {
          assert.equal(err, null);
          }
          catch (err) {

          console.log(err);

          res.statusCode = 500;
          var error = { };
          error = { 'code': 'ERR0001' , 'reason' : err , 'message:' : 'provide a different id' };
          res.end(JSON.stringify(error));
           }

          if (doc == null) {
              res.statusCode = 404;
              var error = {
              };
              error = {
                  'code':   'ERR0001', 'reason': 'not found', 'message:': 'provide a different id'
              };
              res.end(JSON.stringify(error));
          } else {
              res.setHeader('Content-Type', 'application/json');
              delete doc[ "_id"]

              res.end(JSON.stringify(doc));
          }
      })
  })
  {{/isRestfulShow}}
  {{#isRestfulCreate}}
  var args = req.swagger.params;

  var {{{baseNameLowerCamelCase}}} = args.{{{baseNameLowerCamelCase}}}.value;

  if ({{{baseNameLowerCamelCase}}}.id == undefined) {
      {{{baseNameLowerCamelCase}}}.id = uuid.v4();
  }

  var self = req.url + "/" + {{{baseNameLowerCamelCase}}}.id;

  {{{baseNameLowerCamelCase}}}.href = "https://"+req.headers.host + self;

  // Use connect method to connect to the server
  {{#localDatabase}}
  MongoClient.connect(mongourl, function (err, db) {
  {{/localDatabase}}
  {{^localDatabase}}
  MongoClient.connect(credentials.uri, {
          mongos: {
              ssl: true,
              sslValidate: true,
              sslCA: ca,
              poolSize: 1,
              reconnectTries: 1
          }
      },
      function(err, db) {
  {{/localDatabase}}
          if (err) {
              console.log("Create {{{baseName}}}"+err);
          } else {
            assert.equal(null, err);

            // Get the documents collection
            var collection = mongodb.collection('{{{baseNameLowerCamelCase}}}');
            // Insert some documents
            collection.insert({{{baseNameLowerCamelCase}}}, function (err, result) {
                assert.equal(err, null)
            });
            db.close();
          }
      }
  );

  res.setHeader('Content-Type', 'application/json');
  res.statusCode = 201;
  res.setHeader('Location',  {{{baseNameLowerCamelCase}}}.href);
  res.end(JSON.stringify({{{baseNameLowerCamelCase}}}));
  {{/isRestfulCreate}}
  {{#isRestfulUpdate}}
  {{#localDatabase}}
  MongoClient.connect(mongourl, function (err, doc) {
  {{/localDatabase}}
  {{^localDatabase}}
  MongoClient.connect(credentials.uri, {
          mongos: {
              ssl: true,
              sslValidate: true,
              sslCA: ca,
              poolSize: 1,
              reconnectTries: 1
          }
      },
      function(err, doc) {
  {{/localDatabase}}
      assert.equal(null, err);
      var collection = mongodb.collection('{{{baseNameLowerCamelCase}}}');

      var {{{baseNameLowerCamelCase}}} = req.swagger.params.{{{baseNameLowerCamelCase}}}.value;
      var {{{pathId}}} = String(req.swagger.params.{{{pathId}}}.value);

      const query = {
          id: {{{pathId}}}
      }

      var patchDoc = {
          $set: {{{baseNameLowerCamelCase}}}
      }

      collection.update(query, patchDoc, function (err, doc) {
          assert.equal(err, null);
          //res.json(doc);
          // Find one document
          collection.findOne(query, function (err, doc) {
              res.setHeader('Content-Type', 'application/json');
              delete doc[ "_id"]
              res.end(JSON.stringify(doc));
          })
      })
  })
  {{/isRestfulUpdate}}
  {{#isRestfulPatch}}
  {{#localDatabase}}
  MongoClient.connect(mongourl, function (err, doc) {
  {{/localDatabase}}
  {{^localDatabase}}
  MongoClient.connect(credentials.uri, {
          mongos: {
              ssl: true,
              sslValidate: true,
              sslCA: ca,
              poolSize: 1,
              reconnectTries: 1
          }
      },
      function(err, doc) {
  {{/localDatabase}}
     assert.equal(null, err);
     var collection = mongodb.collection('{{{baseNameLowerCamelCase}}}');

     var {{{baseNameLowerCamelCase}}} = req.swagger.params.{{{baseNameLowerCamelCase}}}.value;
     var {{{pathId}}} = String(req.swagger.params.{{{pathId}}}.value);

     const query = {
         id: {{{pathId}}}
     }

     var patchDoc = {
         $set: {{{baseNameLowerCamelCase}}}
     }

     collection.update(query, patchDoc, function (err, doc) {
         assert.equal(err, null);
         //res.json(doc);
         // Find one document
         collection.findOne(query, function (err, doc) {
             res.setHeader('Content-Type', 'application/json');
             delete doc[ "_id"]
             res.end(JSON.stringify(doc));
         })
     })
   })
  {{/isRestfulPatch}}
  {{#isUnregisterHub}}
  var examples = {};
  examples['application/json'] = {
  "query" : "aeiou",
  "callback" : "aeiou",
  "id" : "aeiou"
  };
  if(Object.keys(examples).length > 0) {
    res.setHeader('Content-Type', 'application/json');
    res.end(JSON.stringify(examples[Object.keys(examples)[0]] || {}, null, 2));
  }
  else {
    res.end();
  }

  {{/isUnregisterHub}}
  {{#isRegisterHub}}
  var examples = {};
  examples['application/json'] = {
  "query" : "aeiou",
  "callback" : "aeiou",
  "id" : "aeiou"
  };
  if(Object.keys(examples).length > 0) {
    res.setHeader('Content-Type', 'application/json');
    res.end(JSON.stringify(examples[Object.keys(examples)[0]] || {}, null, 2));
  }
  else {
    res.end();
  }
  {{/isRegisterHub}}
}

{{/operation}}
{{/operations}}
